@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #1B84FF; /* Change to the color you prefer */
    color: white; /* Change to the color you prefer / / Change to the color you prefer / / Change to the color you prefer */
    border-style: solid; /* Change to the color you prefer */
    border-radius: 50%; /* Change to the color you prefer */
    padding: 2px;
    font-weight: bold;
    opacity: .7;
}